.crop-img{
  max-height:230px;
  max-width:100%;
}

.large-img{
  max-height:300px;
  max-width:100%;
  border-radius: 15px;
  padding-top:5px;
}

.thumbnail, .crop-img{
  border-radius: 10px;
  padding-top:5px;
}


.thumbnail,{
   max-width:100%;
}

